<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vehicle_number, style: "display: block" %>
    <%= form.text_field :vehicle_number %>
  </div>

  <div>
    <%= form.label :owner, style: "display: block" %>
    <%= form.text_field :owner %>
  </div>

  <div>
    <%= form.label :tax, style: "display: block" %>
    <%= form.date_field :tax %>
  </div>

  <div>
    <%= form.label :fitness, style: "display: block" %>
    <%= form.date_field :fitness %>
  </div>

  <div>
    <%= form.label :route_permit, style: "display: block" %>
    <%= form.date_field :route_permit %>
  </div>

  <div>
    <%= form.label :insurance, style: "display: block" %>
    <%= form.date_field :insurance %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
