<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle number:</strong>
    <%= vehicle.vehicle_number %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vehicle.owner %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= vehicle.tax %>
  </p>

  <p>
    <strong>Fitness:</strong>
    <%= vehicle.fitness %>
  </p>

  <p>
    <strong>Route permit:</strong>
    <%= vehicle.route_permit %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= vehicle.insurance %>
  </p>

</div>
