<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.number_field :type %>
  </div>

  <div>
    <%= form.label :user_id_id, style: "display: block" %>
    <%= form.text_field :user_id_id %>
  </div>

  <div>
    <%= form.label :vehicle_id_id, style: "display: block" %>
    <%= form.text_field :vehicle_id_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
