<div id="<%= dom_id transaction %>">
  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= transaction.vehicle_id_id %>
  </p>

</div>
